body {
    margin: 0px;
    padding: 0px;
}
.bg_gradient {
    background: linear-gradient(300deg,#00bfff,#ff4c68,#ef8172);/* rgb(53, 197, 222), rgb(243, 46, 79), rgb(231, 110, 130) */
    background-size: 180% 180%;
    animation: bodyg 18s ease infinite;
}
@keyframes bodyg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}